{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4" style="color:#7f5539;">Your Cart</h2>

    {% if cart_items %}
    <table class="table table-bordered bg-light">
        <thead>
            <tr>
                <th>Fish</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.fish.name }}</td>

                <td>
                    <a href="{% url 'increase_quantity' item.fish.id %}" class="btn btn-sm btn-success">+</a>

                    {{ item.quantity }}

                    <a href="{% url 'decrease_quantity' item.fish.id %}" class="btn btn-sm btn-warning">-</a>
                </td>

                <td>₹ {{ item.total_price }}</td>

                <td>
                    <a href="{% url 'remove_from_cart' item.fish.id %}" class="btn btn-sm btn-danger">
                        Remove
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end">
        <h5>Total: ₹ {{ total }}</h5>
        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
    </div>

    {% else %}
    <p class="text-center">Your cart is empty 🛒</p>
    {% endif %}
</div>

{% endblock %}
