{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4" style="color:#7f5539;">Checkout</h2>

    <div class="row">
        <!-- Checkout Form -->
        <div class="col-md-6">
            <div class="card p-4 shadow" style="background-color:#ddb892;">
                <h4>Shipping Details</h4>

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Full Name</label>
                        <input type="text" name="full_name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Address</label>
                        <textarea name="address" class="form-control" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Payment Method</label>
                        <select name="payment_method" class="form-control">
                            <option value="COD">Cash on Delivery</option>
                            <option value="ONLINE">Online Payment</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                        Place Order
                    </button>
                </form>
            </div>
        </div>

        <!-- Order Summary -->
        <div class="col-md-6">
            <div class="card p-4 shadow bg-light">
                <h4>Order Summary</h4>

                {% if cart_items %}
                    <ul class="list-group">
                        {% for item in cart_items %}
                        <li class="list-group-item d-flex justify-content-between">
                            {{ item.fish.name }} (x{{ item.quantity }})
                            <span>₹ {{ item.total_price }}</span>
                        </li>
                        {% endfor %}
                    </ul>

                    <h5 class="text-end mt-3">Total: ₹ {{ total }}</h5>
                {% else %}
                    <p>Your cart is empty</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
